html,
body {
  font-size: 14px;
  max-width: 100vw;
  
}

body {
  color: lightgreen;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}
p {
  font-size: 1.3rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input {
  padding: 10px;
  font-size: 1.8rem;
}
