.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: ;
  flex-grow: 1;
  gap: 10px;
  flex-wrap: wrap;
}
.card {
  border: 1px solid white;
  border-radius: 15px;
  padding: 15px;
}